@media (max-width: 768px) {
  .sobre {
    width: 33rem;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 8rem;
    left: 1rem;
    height: max-content;
  }

  .sinopse {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
  }

  .buttons button img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

@media (max-width: 425px) {

  main::after {
    content: "";
    position: inherit;
    top: 0;
    left: 0;
    background: linear-gradient(-234deg, #000 30%, rgba(0, 0, 0, 0) 58%) no-repeat;
  }

  main .imagem-ator {
    width: 100%;
    height: 100%;
  }

  .sobre .logo {
    width: 12rem;
    height: 4rem;
  }

  .name-person {
    font-size: 1.7rem;
  }

  .sobre {
    width: 18rem;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 8rem;
    left: 1rem;
    height: max-content;
  }

  .sinopse {
    width: 100%;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .buttons {
    width: 4rem;
    height: 4rem;
    top: 3rem;
  }

  .buttons .btn img {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 320px) {
  main::after {
    content: "";
    position: inherit;
    top: 0;
    left: 0;
    background: linear-gradient(-234deg, #000 30%, rgba(0, 0, 0, 0) 58%) no-repeat;
  }

  main .imagem-ator {
    width: 100%;
    height: 100%;
  }

  .sobre .logo {
    width: 9rem;
    height: 3rem;
  }

  .name-person {
    font-size: 1.2rem;
  }

  .sobre {
    width: 15rem;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 12rem;
    left: 1rem;
    height: max-content;
  }

  .sinopse {
    width: 100%;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }

  .buttons {
    width: 4rem;
    height: 4rem;
    top: 5rem;
  }

  .buttons .btn img {
    width: 3rem;
    height: 3rem;
  }
}